= bootstrap_form_for @product, layout: :horizontal, label_col: "col-md-4", control_col: "col-md-4" do |f|
  - if @product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.text_field :name
  .field
    = f.collection_select :company_id, @companies, :id, :name
  .field
    = f.number_field :quality_rating
  .field
    = f.collection_select :item_type_id, @item_types, :id, :name
  .actions
    = f.submit 'Save'
